# --- IDE ---
.idea/

# --- env ---
.env
.venv/

# --- Prometheus runtime data ---
prometheus/data/

# mpy-workbench
.mpy-workbench/

# secrets
pico/secrets.py

# analysis
analysis.ipynb

# gitignore
.gitignore